discord
asyncio
Pymoe
requests
simplejson
apiai
bs4
gspread
oauth2client
git clone https://git.xiph.org/opus.git
git clone https://git.xiph.org/opus-tools.git
git clone https://git.xiph.org/opusfile.git
git clone https://git.xiph.org/libopusenc.git
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]

